// Page setup

color-bg = #080808;
color-front = #ccc;
topbar-height = 51px

body
  background: color-bg;
  color: color-front;

#topnav
  background: darken(color-bg, 10);
.navbar-toggle .icon-bar
  background: color-front;
.navbar-spacer
  height: topbar-height;

.sidebar
  overflow: auto;
  position: fixed;
  top: topbar-height;
  left: 0;
  bottom: 0;

img.preload
  display: none;
