// import nib snap-in for more browser compatibility
@import 'nib'

// Variable setup
$color-orange = #f0ad4e
$color-blue = #337ab7
$color-background = #ddd

/*
* Format for Tags
* --------------------------------------------------------------
*/

html
  background $color-background
  padding 20px

body {
  font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.2;
  hyphenation()
  word-wrap: break-word;
}


/*
* Page Layout
* --------------------------------------------------------------
*/

div#page {
  border: 1px solid #aaa;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.4);;
  max-width: 800px;
  display: inline-block;
  background: #fff;
  padding: 17px;
  overflow: auto;
}
div#page > h1 {
  margin-top: 0;
}

/* headings */

h1, h2, h3, h4, h5, h6
  font-weight: bold
  &:before /* move anchor pint up */
    display: block;
    content: " ";
    margin-top: -66px;
    height: 66px;
    visibility: hidden;
h1, h2, h3
  clear: both
h1
  border-bottom: 3px solid black;
  padding-bottom: 5px;
h2
  border-bottom: 2px dotted black;
  padding-bottom: 3px;
h3
  border-bottom: 2px dotted gray;
  padding-bottom: 2px;
h4
  border-bottom: 1px dotted gray;

/* Other elements */

a {
  color: darkblue;
}

dt
  font-weight: bold
  margin-top: 8px
dd
  margin-left: 20px;

blockquote
  border: 1px solid $color-background
  border-radius: 3px
  border-left: 5px solid $color-blue
  padding: 5px 15px
  margin: 10px 0
  :first-child
    margin-top: 5px;
  :last-child
    margin-bottom: 5px;
  blockquote
    margin-right: -16px
    border-left-color: $color-orange
    blockquote
      border-left-color: $color-blue
      blockquote
        border-left-color: $color-orange

svg
  max-width: 100%
img
  max-width: 100%
  vertical-align: middle;
.emoji
  height: 1em;
abbr
acronym
  border-bottom: dotted 1px;

/* tables */

table
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
  margin-bottom: 10px;
  th, td
    padding: 6px 13px;
    border: 1px solid $color-background
  th
    background-color: rgba(0, 0, 0, 0.04);
    font-weight: bold;
    border-bottom: 3px solid #999;
  tr
    background-color: #fff;
    border-top: 1px solid #ccc;
    &:nth-child(2n)
      background-color: rgba(0, 0, 0, 0.04);

/*
* Text Block and Code
* --------------------------------------------------------------
*/
a code
  color: #337ab7;
code, tt
  background-color: #fafafa;
  border-radius: 4px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0;
pre
  background-color: #fafafa;
  border-radius: 10px;
  border: 1px solid #a4a4a4;
  font-size: 85%;
  margin: 20px;
  padding: 10px;
  code, tt
    background: none;
  &.language
    counter-reset: line;
    max-height: 265px
    padding-top: 30px
    padding-bottom: 0;
    overflow-x: hidden;
    code, tt
      display: block;
      position: relative;
      float: left;
      width: 100%
      border-left: 45px solid $color-background;
      margin-left: -10px;
      padding-left: 5px;
      &:before
        counter-increment: line;
        content: counter(line);
        min-width: 35px;
        float: left;
        text-align: right;
        padding-right: 5px;
        color: grey;
        no-select();
        -webkit-user-select: none;
        margin-left: -45px;
      &:first-of-type
        padding-top: 10px
      &:last-child
        padding-bottom: 10px
    header
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      font-weight: bold;
      background: #fafafa;
      margin: -30px -10px 0 -10px;
      padding: 5px 15px;
    &.coffeescript, &.javascript
    &.ruby, &.python, &.perl
    &.cc, &.cpp, &.cs
    &.java, &.jsp, &.groovy
    &.php
    &.bash
    &.sql
    &.makefile
      header
        background: #f0ad4e
    &.json, &.cson
    &.yaml
      header
        background: #61b961;
    &.handlebars
    &.css, &.stylus, &.scss, &.less
    &.markdown
      header
        background: #76abca;

/*
* Table of Contents
* --------------------------------------------------------------
*/
ul.table-of-contents
  border: 2px solid $color-background;
  border-radius: 10px;
  float: right;
  margin-top: 0;
  padding: 10px 10px 10px 25px;
  background: #fafafa;
  font-size: 90%;
  header
    font-weight: bold;
    font-size: 120%;
    display: block;
    background: $color-background;
    margin: -10px -10px 4px -25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3px 10px;
  ul
    padding-left: 15px;
  a
    text-decoration: none;

/*
* Box Layout
* --------------------------------------------------------------
*/
.tabs
  padding: 0
  /* to move all other contents below */
  &:after
    content: ''
    display: table
    clear: both
  input.tab
  input.tabs-size
    display: none
  /* style for tab headings */
  input.tab + label
    position: relative
    z-index: 1
    display: block
    float: left
    cursor: pointer

    padding: 5px 10px
    margin-bottom: -1px
    border: 1px solid black
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    background: $color-background
    transition: all 0.5s
    opacity: 0.5
  /* hide tab contents */
  .tab-content
    display: none;
    position: relative;
    clear: both;
    border: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 15px;
    transition: all 0.5s
    overflow: auto;
    max-height: 200px;
  input.tab:checked + label
    cursor: default
    border-bottom: 1px solid #fff
    opacity: 1
  /* link tab with content */
  .tab1:checked ~ .tab-content1
  .tab2:checked ~ .tab-content2
  .tab3:checked ~ .tab-content3
  .tab4:checked ~ .tab-content4
  .tab5:checked ~ .tab-content5
  .tab6:checked ~ .tab-content6
  .tab7:checked ~ .tab-content7
  .tab8:checked ~ .tab-content8
    display: block;
  /* action */
  .tabs-size + label
    cursor: pointer
    float: right
    padding: 5px
  .tabs-size-min:checked + label,
  .tabs-size-scroll:checked + label,
  .tabs-size-max:checked + label
    display: none
  .tabs-size-min:checked ~ .tab-content
    height: 0;
  .tabs-size-max:checked ~ .tab-content
    max-height: none;
@media print
  input.tab + label
    opacity: 1 !important
  .tabs-size-min + label,
  .tabs-size-scroll + label,
  .tabs-size-max + label
    display: none
  .tab-content
    display: block !important
    max-height: none !important
    height: auto !important

.tabs
  input.tab + label.detail
  div.detail
    background-image: linear-gradient(to bottom, #fafafa 0%, #999 100%)
  input.tab + label.detail
    border-bottom-color: #999
  input.tab + label.info
  div.info
    background-image: linear-gradient(to bottom, #ccffcc 0%, #99ff99 100%)
  input.tab + label.info
    border-bottom-color: #99ff99
  input.tab + label.warning
  div.warning
    background-image: linear-gradient(to bottom, #ffffc9 0%, #fbcd4a 100%)
  input.tab + label.warning
    border-bottom-color: #ffdd66
  input.tab + label.alert
  div.alert
    background-image: linear-gradient(to bottom, #ffaaaa 0%, #ee8866 100%)
  input.tab + label.alert
    border-bottom-color: #ee8866


/*
* Fontawesome, Decorator Styles
* --------------------------------------------------------------
*/
/* Color styles for fontawesome and more */

.text-red {color: red}
.text-green {color: green}
.text-yellow {color: yellow}
.text-blue {color: blue}
.text-magenta {color: magenta}
.text-cyan {color: cyan}
.text-gray {color: gray}

/* styles for decorate */

.bg-white {background-color: white}

.center {text-align: center}
.left {float: left}
.right {float: right}

.spacing {padding: 10px}

.hidden {display: none}
