/* page setup */

color-background  = #ddd

html
  background color-background
  padding 20px

body {
  font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.2;
  word-wrap: break-word;
}
div#page {
  border: 1px solid #aaa;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.4);;
  max-width: 800px;
  display: inline-block;
  background: #fff;
  padding: 17px;
  overflow: auto;
}
div#page > h1 {
  margin-top: 0;
}

/* headings */

h1 {
  border-bottom: 3px solid black;
  padding-bottom: 5px;
}
h2 {
  border-bottom: 2px dotted black;
  padding-bottom: 3px;
}
h3 {
  border-bottom: 1px dotted gray;
  padding-bottom: 2px;
}

/* Other elements */

a {
  color: darkblue;
}

dt {
  font-weight: bold;
  margin-top: 8px;
}

blockquote {
  border-left: 4px solid #ddd;
  color: #777;
  padding: 3px 15px;
  margin: 0 15px;
}

img {
  vertical-align: middle;
}
.emoji {
  height: 1em;
}
abbr, acronym {
  border-bottom: dotted 1px;
}

/* tables */

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
table th {
  background-color: rgba(0, 0, 0, 0.04);
  font-weight: bold;
  border-bottom: 3px solid #999;
}
table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
table tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.04);
}

/* code boxes */

pre {
  background-color: #fafafa;
  border-radius: 10px;
  border: 1px solid #a4a4a4;
  font-size: 85%;
  margin: 20px;
  padding: 10px;
}
code, tt {
  background-color: #fafafa;
  border-radius: 4px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0;
}
pre code, pre tt {
  background: none;
}
pre code.language header {
    color: black;
    font-weight: bold;
    display: block;
    background: #fafafa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: 5px;
    margin: -10px -10px 5px -10px;
    padding: 5px;
}
pre code.bash header,
pre code.coffee header,
pre code.js header,
pre code.sh header,
pre code.sql header
{   background: #f0ad4e; }
pre code.json header,
pre code.yaml header
{   background: #61b961; }
pre code.handlebars header,
pre code.markdown header
{   background: #76abca; }

/* table of contents */

.table-of-contents header {
  font-weight: bold;
  font-size: 120%;
  display: block;
  background: #ddd;
  margin: -10px -10px 4px -25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 3px 10px;
}
.table-of-contents {
  border: 2px solid #ddd;
  border-radius: 10px;
  float: right;
  margin-top: 0;
  padding: 10px 10px 10px 25px;
  background: #fafafa;
  font-size: 90%;
}
.table-of-contents ul {
  padding-left: 15px;
}
.table-of-contents a {
  text-decoration: none;
}

/* Possible box layouts */

div.detail, div.info, div.warning, div.alert {
  padding: 20px 10px 6px 10px;
  margin: 5px 0 0 0;
}
div.detail>p, div.info>p, div.warning>p, div.alert>p {
  margin-bottom: 0;
}
div.info header, div.warning header, div.alert header {
  font-weight: bold;
  position: absolute;
  margin-top: -20px;
  margin-left: -10px;
  padding: 3px 20px 3px 10px;
  border-bottom-right-radius: 18px;
}
div.detail {
  background-color: #fafafa;
  border: 2px solid #ddd;
  padding-top: 0;
}
div.info {
  background-color: #99ff99;
  border: 2px solid #66dd66;
}
div.info header {
  background-color: #66dd66;
}
div.warning {
  background-color: #ffcc99;
  border: 2px solid #ee8866;
}
div.warning header {
  background-color: #ee8866;
}
div.alert {
  background-color: #ff9999;
  border: 2px solid #cc0000;
}
div.alert header {
  background-color: #cc0000;
  color: white;
}

/* Color styles for fontawesome and more */

.text-red {color: red;}
.text-green {color: green;}
.text-yellow {color: yellow;}
.text-blue {color: blue;}
.text-magenta {color: magenta;}
.text-cyan {color: cyan;}
.text-gray {color: gray;}

/* styles for decorate */

.bg-white {background-color: white;}
.center {text-align: center;}
.left {float: left;}
.right {float: right;}
.hide {display: none;}
.spacing {padding: 10px;}
