/*
* Default Style
* ===============================================================
* This style is used whenever no other theme/style is given.
*/

// import nib snap-in for more browser compatibility
@import 'nib'


/*
* Variable setup
* ---------------------------------------------------------
*/
// colors
$color-background = #ddd
$color-orange = #f0ad4e
$color-blue = #337ab7
// colors for boxes
$color-info = #7cbde1
$color-ok = #99ff99
$color-warning = #fbcd4a
$color-alert = #ee8866
// colors for code boxes
$color-code = $color-orange
$color-data = $color-blue
$color-style = #1d9a96
$color-doc = #459245


/*
* Page Layout
* --------------------------------------------------------------
*/

div#page
  border: 1px solid #aaa
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.4)
  max-width: 800px
  display: inline-block
  background: #fff
  padding: 17px
  overflow: auto
  > h1
    margin-top: 0


/*
* Format for Tags
* --------------------------------------------------------------
*/

html
  background $color-background
  padding 20px

body
  font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
  font-size: 16px
  line-height: 1.2
  hyphenation()
  word-break: normal

// headings
h1, h2, h3, h4, h5, h6
  font-weight: bold
  &:before /* move anchor pint up */
    display: block
    content: " "
    margin-top: -66px
    height: 66px
    visibility: hidden
h1, h2, h3
  clear: both
h1
  border-bottom: 3px solid black
  padding-bottom: 5px
h2
  border-bottom: 2px dotted black
  padding-bottom: 3px
h3
  border-bottom: 2px dotted gray
  padding-bottom: 2px
h4
  border-bottom: 1px dotted gray

/* Other elements */

a
  color: darkblue

dt
  font-weight: bold
  margin-top: 8px
dd
  margin-left: 20px

svg
  max-width: 100%
img
  max-width: 100%
  vertical-align: middle
.emoji
  height: 1em
abbr
acronym
  border-bottom: dotted 1px

// blockquotes
blockquote
  border: 1px solid $color-background
  border-radius: 3px
  border-left: 5px solid $color-blue
  padding: 5px 15px
  margin: 10px 0
  :first-child
    margin-top: 5px;
  :last-child
    margin-bottom: 5px;
  blockquote
    margin-right: -16px
    border-left-color: darken($color-orange, 20%)
    blockquote
      border-left-color: lighten($color-blue, 20%)
      blockquote
        border-left-color: $color-orange
        blockquote
          border-left-color: lighten($color-blue, 40%)
          blockquote
            border-left-color: lighten($color-orange, 20%)
            blockquote
              border-left-color: lighten($color-blue, 60%)
  ul li p
    margin-bottom: 0;


/*
* Lists
* --------------------------------------------------------------
*/
ul > li.task
  list-style-type: none
li.taks input.task-checkbox
    margin: 0 0.2em 0.25em -1.6em
    vertical-align: middle


/*
* Table Layout
* --------------------------------------------------------------
*/
table
  border-collapse: collapse
  border-spacing: 0
  display: block
  width: 100%
  overflow: auto
  word-break: keep-all
  margin-bottom: 10px
  th, td
    padding: 6px 13px
    border: 1px solid $color-background
  th
    background-color: rgba(0, 0, 0, 0.04)
    font-weight: bold
    border-bottom: 3px solid #999
  tr
    background-color: #fff
    border-top: 1px solid #ccc
    &:nth-child(2n)
      background-color: rgba(0, 0, 0, 0.04)


/*
* Text Block and Code
* --------------------------------------------------------------
*/
a code
  color: $color-blue
code, tt
  background-color: #eee
  border-radius: 4px
  font-size: 85%
  margin: 0
  padding: 0.2em 0
pre
  background-color: #eee
  border-radius: 10px
  border: 1px solid #a4a4a4
  font-size: 85%
  font-weight: 600
  margin: 20px
  padding: 10px
  overflow: auto
  code, tt
    white-space: pre
    background: none
  &.language
    counter-reset: line
    padding-top: 0
    padding-bottom: 0
    overflow-x: hidden
    code, tt
      display: block
      position: relative
      float: left
      width: 100%
      border-left: 45px solid $color-background
      margin-left: -10px
      padding-left: 5px
      white-space: pre-wrap
      &:nth-child(2n)
        border-left: 45px solid darken($color-background, 10%)
        background-color: darken(#fafafa, 5%)
      &:before
        counter-increment: line
        content: counter(line)
        min-width: 35px
        float: left
        text-align: right
        padding-right: 5px
        color: grey
        no-select()
        margin-left: -45px
      &:first-of-type
        padding-top: 10px
      &:last-child
        padding-bottom: 10px


/*
* Table of Contents
* --------------------------------------------------------------
*/
ul.table-of-contents
  border: 2px solid $color-background
  border-radius: 10px
  margin-top: 0
  padding: 10px 10px 10px 25px
  background: #fafafa
  font-size: 90%
  float: right
  //position: fixed
  //z-index: 100
  header
    font-weight: bold
    font-size: 120%
    display: block
    background: $color-background
    margin: -10px -10px 4px -25px
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    padding: 3px 10px
  ul
    padding-left: 15px
  a
    text-decoration: none
.toplink
  float: right
  color: black

/*
* Box Layout
* --------------------------------------------------------------
*/
.box-container
  padding: 0
  margin-bottom: 10px
  /* to move all other contents below */
  &:after
    content: ''
    display: table
    clear: both
  input.tab
  input.tabs-size
    display: none
  /* style for tab headings */
  input.tab + label
    position: relative
    z-index: 1
    display: block
    float: left
    cursor: pointer
    padding: 5px 10px
    margin-bottom: -1px
    border: 1px solid black
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    background: $color-background
    transition: all 0.5s
    opacity: 0.5
    font-weight: bold
  input.tab + label:hover
  input.tab:hover + label
    opacity: 1
  /* hide tab contents */
  .box
    display: none
    position: relative
    clear: both
    border: 1px solid black
    border-top-right-radius: 10px
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    padding: 0 15px
    transition: all 0.5s
    overflow: auto
    max-height: 300px
    > p
      margin-top: 10px
  input.tab:checked + label
    cursor: default
    border-bottom: 1px solid #fff
    opacity: 1
  /* link tab with content */
  .tab1:checked ~ .box1
  .tab2:checked ~ .box2
  .tab3:checked ~ .box3
  .tab4:checked ~ .box4
  .tab5:checked ~ .box5
  .tab6:checked ~ .box6
  .tab7:checked ~ .box7
  .tab8:checked ~ .box8
    display: block
  /* action */
  .tabs-size + label
    cursor: pointer
    float: right
    padding: 5px 5px 0 5px
    font-size: 80%
  .tabs-size-min:checked + label
  .tabs-size-scroll:checked + label
  .tabs-size-max:checked + label
    display: none
  .tabs-size-min:checked ~ .box
    height: 0
  .tabs-size-max:checked ~ .box
    max-height: none
@media print
  input.tab + label
    opacity: 1 !important
  .tabs-size-min + label
  .tabs-size-scroll + label
  .tabs-size-max + label
    display: none
  .box
    display: block !important
    max-height: none !important
    height: auto !important
/* color settings */
.box-container
  input.tab + label.detail
    background-image: linear-gradient(to bottom, #fafafa 0%, #999 100%)
    border-bottom-color: #999
  div.detail
    background-image: linear-gradient(to bottom, #fafafa 0%, #999 100%)

  input.tab + label.info
    background-image: linear-gradient(to bottom, lighten($color-info, 50%) 0%, $color-info 100%)
    border-bottom-color: $color-info
  div.info
    background-image: linear-gradient(to bottom, lighten($color-info, 50%) 0%, $color-info 100%)

  input.tab + label.ok
    background-image: linear-gradient(to bottom, lighten($color-ok, 50%) 0%, $color-ok 100%)
    border-bottom-color: $color-ok
  div.ok
    background-image: linear-gradient(to bottom, lighten($color-ok, 50%) 0%, $color-ok 100%)

  input.tab + label.warning
    background-image: linear-gradient(to bottom, lighten($color-warning, 50%) 0%, $color-warning 100%)
    border-bottom-color: $color-warning
  div.warning
    background-image: linear-gradient(to bottom, lighten($color-warning, 50%) 0%, $color-warning 100%)

  input.tab + label.alert
    background-image: linear-gradient(to bottom, lighten($color-alert, 50%) 0%, $color-alert 100%)
    border-bottom-color: $color-alert
  div.alert
    background-image: linear-gradient(to bottom, lighten($color-alert, 50%) 0%, $color-alert 100%)

/*
* Special box content: code
*/
.box-container
  .box.pre
    padding: 0
    pre
    table
      margin: 0
      border: 0
      border-radius: 0
  // special color settings
  input.tab + label.coffeescript
  input.tab + label.javascript
  input.tab + label.ruby
  input.tab + label.python
  input.tab + label.perl
  input.tab + label.cc
  input.tab + label.cpp
  input.tab + label.cs
  input.tab + label.java
  input.tab + label.groovy
  input.tab + label.php
  input.tab + label.bash
  input.tab + label.sql
  input.tab + label.makefile
    background-image: linear-gradient(to bottom, lighten($color-code, 50%) 0%, $color-code 100%)
    border-bottom-color: $color-code
  input.tab + label.json
  input.tab + label.cson
  input.tab + label.yaml
    background-image: linear-gradient(to bottom, lighten($color-data, 50%) 0%, $color-data 100%)
    border-bottom-color: $color-data
  input.tab + label.jsp
  input.tab + label.handlebars
  input.tab + label.css
  input.tab + label.stylus
  input.tab + label.scss
  input.tab + label.less
    background-image: linear-gradient(to bottom, lighten($color-style, 50%) 0%, $color-style 100%)
    border-bottom-color: $color-style
  input.tab + label.markdown
  input.tab + label.html
    background-image: linear-gradient(to bottom, lighten($color-doc, 50%) 0%, $color-doc 100%)
    border-bottom-color: $color-doc


/*
* Fontawesome, Decorator Styles
* --------------------------------------------------------------
*/
/* Color styles for fontawesome and more */

.text-red {color: red}
.text-green {color: green}
.text-yellow {color: yellow}
.text-blue {color: blue}
.text-magenta {color: magenta}
.text-cyan {color: cyan}
.text-gray {color: gray}

/* styles for decorate */

.bg-white {background-color: white}

.center {text-align: center}
.left {float: left}
.right {float: right}

.spacing {padding: 10px}

.hidden {display: none}


/*
* Include highlight.js style
* ----------------------------------------------------------
* github.com style (c) Vasily Polovnyov <vast@whiteants.net>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
