<!DOCTYPE html>
<html lang="{{locale}}">
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    {{{join header ""}}}
  </head>
  <body><div id="page">{{{content}}}</div></body>
</html>
